<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nueva Publicación</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">

<h2>Nueva Publicación</h2>

<form th:action="@{/publicaciones/guardar}" th:object="${publicacion}" method="post">

<div class="mb-3">
<label>Propiedad</label>
<select th:field="*{propiedad}" class="form-select" required>
<option th:each="p : ${propiedades}"
        th:value="${p.id}"
        th:text="${p.direccion}">
</option>
</select>
</div>

<div class="mb-3">
<label>Condiciones</label>
<input type="text" th:field="*{condiciones}" class="form-control" required>
</div>
<div class="mb-3">
<label>Descripción</label>
  <textarea th:field="*{descripcion}"
		            class="form-control"
		            rows="4"
		            required></textarea>

<div class="mb-3">
<label>Fecha de Publicación</label>
<input type="date" th:field="*{fechaPublicacion}" class="form-control" required>
</div>

<div class="mb-3">
<label>Precio Mensual</label>
<input type="number" step="0.01" th:field="*{precioMensual}" class="form-control" required>
</div>

<div class="mb-3">
<label>Estado</label>
<select th:field="*{estadoPublicacion}" class="form-select" required>
<option th:each="e : ${estados}"
        th:value="${e}"
        th:text="${e}">
</option>
</select>
</div>

<button type="submit" class="btn btn-success">
Guardar
</button>

</form>

</body>
</html>
//